In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('data/play_tennis.csv')
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [3]:
df.drop('day', axis=1, inplace=True)
df.head()

    outlook  temp humidity    wind play
0     Sunny   Hot     High    Weak   No
1     Sunny   Hot     High  Strong   No
2  Overcast   Hot     High    Weak  Yes
3      Rain  Mild     High    Weak  Yes
4      Rain  Cool   Normal    Weak  Yes

In [4]:
# p(yes)
p_yes = df[df['play'] == 'Yes'].shape[0] / df.shape[0]
# p(no)
p_no = df[df['play'] == 'No'].shape[0] / df.shape[0]

p_yes, p_no

(0.6428571428571429, 0.35714285714285715)

In [5]:
pd.crosstab(df['outlook'], df['play'])

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [6]:
# p_overcast_no
p_overcast_no = 0 / 5
# p_rain_no
p_rain_no = 2 / 5
# p_sunny_no
p_sunny_no = 3 / 5

# p_overcast_yes
p_overcast_yes = 4 / 9
# p_rain_yes
p_rain_yes = 3 / 9
# p_sunny_yes
p_sunny_yes = 2 / 9

In [7]:
pd.crosstab(df['temp'], df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [8]:
# p_cool_no
p_cool_no = 1 / 5
# p_hot_no
p_hot_no = 2 / 5
# p_mild_no
p_mild_no = 2 / 5

# p_cool_yes
p_cool_yes = 3 / 9
# p_hot_yes
p_hot_yes = 2 / 9
# p_mild_yes
p_mild_yes = 4 / 9

In [9]:
pd.crosstab(df['humidity'], df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [10]:
# p_high_no
p_high_no = 4 / 5
# p_normal_no
p_normal_no = 1 / 5

# p_high_yes
p_high_yes = 3 / 9
# p_normal_yes
p_normal_yes = 6 / 9

In [11]:
pd.crosstab(df['wind'], df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [12]:
# p_strong_no
p_strong_no = 3 / 5
# p_weak_no
p_weak_no = 2 / 5

# p_strong_yes
p_strong_yes = 3 / 9
# p_weak_yes
p_weak_yes = 6 / 9

In [13]:
# Outlook = Sunny, Temp = Hot, Humidity = High, Wind = Weak

# p(yes|sunny, hot, high, weak)
p_yes_sunny_hot_high_weak = p_sunny_yes * p_hot_yes * p_high_yes * p_weak_yes * p_yes
# p(no|sunny, hot, high, weak)
p_no_sunny_hot_high_weak = p_sunny_no * p_hot_no * p_high_no * p_weak_no * p_no

p_yes_sunny_hot_high_weak, p_no_sunny_hot_high_weak

(0.007054673721340387, 0.02742857142857143)

In [14]:
print('Play or Not?')
if p_yes_sunny_hot_high_weak > p_no_sunny_hot_high_weak:
  print('Yes')
else:
  print('No')

Play or Not?
No